@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 137 207 240;
    --color-secondary: 33 158 243;
    --color-text: 255 255 255;
    --color-success: 85 216 107;
    --color-info: 33 33 33;
    --color-warn: 255 183 77;
    --color-error: 244 67 54;
  }

  :root[class~="dark"] {
    --color-primary: 0 123 255;
    --color-secondary: 63 81 181;
    --color-text: 241 241 241;
    --color-success: 34 139 34;
    --color-info: 55 71 79;
    --color-warn: 255 239 126;
    --color-error: 244 67 54;
  }

  .text-outline-white {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-shadow: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  @apply text-text transition-colors duration-700 ease-in-out;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input::placeholder {
  color: var(--color-text);
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--color-text);
}

@layer components {
  .primaryCard {
    @apply backdrop-blur border border-white border-opacity-10 rounded-2xl bg-white/30 shadow-[0_0_20px_rgba(255,_255,_255,_0.7)] text-text p-4;
  }

  .heroHeadText {
    @apply font-black text-white lg:text-[80px] sm:text-[60px] xs:text-[50px] text-[40px] lg:leading-[98px] mt-2;
  }
  .heroSubText {
    @apply text-white font-medium lg:text-[30px] sm:text-[26px] xs:text-[20px] text-[16px] lg:leading-[40px];
  }

  .sectionHeadText {
    @apply text-white font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px];
  }

  .sectionSubText {
    @apply flex sm:text-[18px] text-[14px] text-text uppercase tracking-wider justify-center items-center;
  }

  .sectionHeadTextOutline {
    @apply text-outline-white font-medium uppercase md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px];
  }

  .homeSubtitleTextOutline {
    @apply text-outline-white font-medium uppercase md:text-[30px] sm:text-[50px] xs:text-[40px] text-[30px];
  }
}

.nav-container {
  display: grid;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%;
}

.nav-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
